app-header{
    width: 100%;
    border-bottom: 2px solid #f2f2f2;
[align-right]{
    justify-content: flex-end;
    place-content:flex-end !important;
}
[mat-button]:hover .mat-button-focus-overlay,[mat-button]:active .mat-button-focus-overlay,[mat-button]:focus .mat-button-focus-overlay{
    background: none !important;
}
.example-spacer {
  flex: 1 1 auto;
}
}