<form form-full-width [formGroup]="addRoundsForm" (ngSubmit)="submitRounds()" novalidate>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
  <div fxLayout="column" fxFlexAlign="center">
    <mat-icon color="primary" size-34>person_outline</mat-icon>
  </div>
  <div fxLayout="column" fxFlexAlign="start">
    <h4 weight-600 size-14>A new position was created by Naveen.</h4>
    <p size-14>15/05/2017 11.00 AM.</p>
    <p size-14>JD ID: C0937</p>
  </div>
</div>
<br/>
<div fxLayout="row" fxLayoutGap="10px" >
            <div fxLayout.xs="column" fxFlexAlign="center" fxFlex="50%" padding-top-bottom-2>
                Mandatory Skills
            </div>
            <div fxLayout.xs="column" fxFlexAlign="center" fxFlex="50%" padding-top-bottom-2>
                HTML5, CSSHTML, CSSHTML,JAVA 
            </div>
</div>
<div fxLayout="row" fxLayoutGap="10px" >
            <div fxLayout.xs="column" fxFlexAlign="center" fxFlex="50%" padding-top-bottom-2>
                Desired Skills
            </div>
            <div fxLayout.xs="column" fxFlexAlign="center" fxFlex="50%" padding-top-bottom-2>
                HTML5,CSS3
            </div>
</div>
<div fxLayout="row" fxLayoutGap="10px" >
            <div fxLayout.xs="column" fxFlexAlign="center" fxFlex="50%" padding-top-bottom-2>
                Job Description
            </div>
            <div fxLayout.xs="column" fxFlexAlign="center" fxFlex="50%" padding-top-bottom-2>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
 
            </div>
</div>
<div fxLayout="row" fxLayoutGap="10px" >
            <div fxLayout.xs="column" fxFlexAlign="center" fxFlex="50%" padding-top-bottom-2>
                Experience
            </div>
            <div fxLayout.xs="column" fxFlexAlign="center" fxFlex="50%" padding-top-bottom-2>
                8+ Years
            </div>
</div>
<div fxLayout="row" fxLayoutGap="10px" >
            <div fxLayout.xs="column" fxFlexAlign="center" fxFlex="50%" padding-top-bottom-2>
                Education Qualification
            </div>
            <div fxLayout.xs="column" fxFlexAlign="center" fxFlex="50%" padding-top-bottom-2>
                B.Tech/MCA/BSC/MSC Comp.
            </div>
</div>
<div fxLayout="row" fxLayoutGap="10px" >
            <div fxLayout.xs="column" fxFlexAlign="center" fxFlex="50%" padding-top-bottom-2>
                Work Location
            </div>
            <div fxLayout.xs="column" fxFlexAlign="center" fxFlex="50%" padding-top-bottom-2>
               Hyderabad
            </div>
</div>
<div fxLayout="row" fxLayoutGap="10px" >
            <div fxLayout.xs="column" fxFlexAlign="center" fxFlex="50%" padding-top-bottom-2>
                Type of hire
            </div>
            <div fxLayout.xs="column" fxFlexAlign="center" fxFlex="50%" padding-top-bottom-2>
                Permanent
            </div>
</div>

<div fxLayout="row" fxLayoutGap="10px" >
            <div fxLayout.xs="column" fxFlexAlign="center" fxFlex="50%" padding-top-bottom-2>
               Status
            </div>
            <div fxLayout.xs="column" fxFlexAlign="center" fxFlex="50%" padding-top-bottom-2>
                     <mat-form-field fxFlex="0 1 calc(15em + 20px)">
                      <mat-select placeholder="Status" formControlName="status" [(ngModel)]="rounds.status"
                      (change)="selectedStatus($event)"
                      >
                        <mat-option value="1">Reject</mat-option>
                        <mat-option value="2">On hold</mat-option>
                        <mat-option value="3">Technical Round</mat-option>
                        <mat-option value="4">Final HR Round</mat-option>
                      </mat-select>
                    </mat-form-field>
            </div>
</div>
<br/>
<div fxLayout="row" fxLayoutGap="10px" >
  <mat-form-field fxFlex="0 1 calc(15em + 20px)" >
    <textarea matInput placeholder="Leave a comment" formControlName="comment" [(ngModel)]="rounds.comment" ></textarea>
  </mat-form-field>
 </div>
 <hr>
  
 <div size="20" margin-top-bottom-10><b>Number of Technical Rounds {{isSelectedForNextRound}}</b></div>
 <div *ngIf="isSelectedForNextRound">
<div fxLayout="row" *ngFor="let round of noOfRounds; let i = index" fxLayoutGap="20px"  >
       
              <div fxLayout.xs="column" fxFlexAlign="center" fxFlex="50%" padding-top-bottom-2>
                  <mat-form-field>
                      <mat-select placeholder="Interview type" >
                           <mat-option value="option">1</mat-option>
                          <mat-option value="option">2</mat-option>
                          <mat-option value="option">3</mat-option>
                          <mat-option value="option">4</mat-option>
                      </mat-select>
                  </mat-form-field>
                  
              </div>
              <div fxLayout.xs="column" fxFlexAlign="center" fxFlex="50%" padding-top-bottom-2>
                  <mat-form-field>
                      <mat-select placeholder="Interviewer">
                          <mat-option >
                          {{round.interviewer}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
              <div fxLayout.xs="column" fxFlexAlign="center" fxFlex="50%" padding-top-bottom-2>
                  <mat-form-field>
                      <mat-select placeholder="Convenient slots">
                          <mat-option >
                          {{round.convienientSolts}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
            
</div>
</div>
 <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
            <button mat-button color="warn" mat-raised-button [mat-dialog-close]="true" >Cancel</button>
            <button mat-button color="primary" mat-raised-button >Submit</button>
 </div>
</form>