
<!--Active positions-->
<div fxLayout="row" margin-20  bottomGreenborder padding-top-bottom-15 >
    <div fxLayout.xs="column"  fxFlex="20%"  fxFlexAlign="center" >
     JD-C123: UI Developer 
    </div>
    <div fxLayout.xs="column" fxFlex="20%" fxFlexAlign="center" >Status : &nbsp; <mat-icon color="primary"   >thumb_up</mat-icon>  &nbsp; Active</div>
    <div fxLayout.xs="column" fxFlex="30%"  fxFlexAlign="center" >Posted Date : &nbsp; <mat-icon color="primary" >watch_later</mat-icon>  &nbsp;  Dec-15-2017 2:00 PM</div>
    <div fxLayout="column" fxFlex="30%" fxFlexAlign="start">
        <div fxLayout="row" fxLayoutGap="20px" >
          <button (click)="addCandidate();" color="primary" fxLayoutAlign="left" btnstyle mat-raised-button fxFlex="50" ><mat-icon size-18 role="img" aria-hidden="true">add</mat-icon>Add Candidate </button>
          <button (click)="modifyJd();" color="primary" btnstyle mat-raised-button  fxLayoutAlign="left" fxFlex="50"><mat-icon size-18 role="img" aria-hidden="true">mode_edit</mat-icon> Modify JD </button>
      </div>
    </div>
</div>
<div fxLayout='row' fxLayout.xs="column" margin-20>
<div fxFlex="30%" fxFlex.xs="100%" size-12 borderRightGray>
  <div whiteBg  fxLayout='row' fxLayout.xs="row"  fxLayoutAlign="right" >
    <div fxLayout="column" fxFlex="30%" >
      <b>Manditory Skills :</b>
    </div>
    <div fxLayout="column" fxFlex="70%" fxFlexAlign="start">
      HTML5,CSS3,Javascript, HTML5,CSS3,Javascript, HTML5,CSS3,Javascript, HTML5,CSS3,Javascript
    </div>
  </div>
  <div whiteBg fxLayout="row"   fxLayoutAlign="right" >
      <div fxLayout="column" fxFlex="30%">
        <b >Desired Skills :</b>
      </div>
      <div fxLayout="column" fxFlexAlign="start ">
        <div>Something new</div>
      </div>
    </div>
  <div whiteBg fxLayout="row"   fxLayoutAlign="right"  >
        <div fxLayout="column" fxFlex="30%">
          <b >Job Description :</b>
        </div>
        <div fxLayout="column" fxFlexAlign="start" fxFlex="70%">
          <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
        </div>
      </div>
      <div whiteBg fxLayout="row"   fxLayoutAlign="right"  >
          <div fxLayout="column" fxFlex="30%">
            <b >Experiance :</b>
          </div>
          <div fxLayout="column" fxFlexAlign="center">
            <div>Min 4 to 10 Yrs</div>
          </div>
      </div>
      <div whiteBg fxLayout="row"  fxLayoutAlign="right" >
          <div fxLayout="column" fxFlex="30%">
            <b >Eductions :</b>
          </div>
          <div fxLayout="column" fxFlexAlign="center">
            <div>Any</div>
          </div>
      </div>
      <div whiteBg fxLayout="row"   fxLayoutAlign="right"  >
          <div fxLayout="column" fxFlex="30%">
            <b >Work Location :</b>
          </div>
          <div fxLayout="column" fxFlexAlign="center">
            <div>Hydarabad</div>
          </div>
      </div>
      <div whiteBg fxLayout="row"   fxLayoutAlign="right" >
          <div fxLayout="column" fxFlex="30%">
            <b >Type of hire :</b>
          </div>
          <div fxLayout="column" fxFlexAlign="center">
            <div>Permanent</div>
          </div>
      </div>
      <div whiteBg fxLayout="row"   fxLayoutAlign="right"  >
          <div fxLayout="column" fxFlex="30%">
            <b >Hiring Manager :</b>
          </div>
          <div fxLayout="column" fxFlexAlign="center">
            <div>Naveen</div>
          </div>
      </div>
      <div whiteBg fxLayout="row"   fxLayoutAlign="right"  >
          <div fxLayout="column" fxFlex="30%">
            <b >Project :</b>
          </div>
          <div fxLayout="column" fxFlexAlign="center">
            <div>Easy Knock</div>
          </div>
      </div>
  </div>


  <div fxFlex="70%" fxFlex.xs="100%" padding-Left-15>
      <div fxLayout="row" fxFlexAlign="center" size-22 fxLayoutAlign=" stretch">
          Profiles
      </div>
      <div fxLayout="row" fxFlexAlign="center" fxLayoutAlign=" stretch"  fxLayoutGap="20px" bottomBorder padding-top-bottom-15 >
          <div fxLayout="column" fxFlex="50px" fxFlexAlign="center">
            <mat-icon>assignment_ind</mat-icon>
          </div>
          <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
            <div size-12 gray>Name</div>
            <div  size-14>Naresh M</div>
          </div>
          <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
            <div  size-12 gray>Experience</div>
            <div  size-14>4+</div>
          </div>
          <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
            <div  size-12 gray>Notice Period</div>
            <div  size-14>60 Days</div>
          </div>
          <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
            <div  size-12 gray>Skills</div>
            <div  size-14>HTML, CSS, Javascript</div>
          </div>
          <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
            <div  size-12 gray>Staus</div>
            <div size-14>Inprogress</div>
          </div>
          <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
              <button btnstyle color="primary" mat-raised-button fxFlexAlign="end" (click)="viewProfile()" margin-right-15>View Profile</button>
          </div>
          <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
              <button btnstyle color="primary" mat-raised-button fxFlexAlign="end" (click)="addInterviewRounds()" margin-right-15>Add Rouds</button>
          </div>
        </div>
        <div fxLayout="row" fxFlexAlign="center" fxLayoutAlign=" stretch"  fxLayoutGap="20px" bottomBorder padding-top-bottom-15>
            <div fxLayout="column" fxFlex="50px" fxFlexAlign="center">
              <mat-icon>assignment_ind</mat-icon>
            </div>
            <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
              <div size-12 gray>Name</div>
              <div  size-14>Naresh M</div>
            </div>
            <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
              <div  size-12 gray>Experience</div>
              <div  size-14>4+</div>
            </div>
            <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
              <div  size-12 gray>Notice Period</div>
              <div  size-14>60 Days</div>
            </div>
            <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
              <div  size-12 gray>Skills</div>
              <div  size-14>HTML, CSS, Javascript</div>
            </div>
            <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
              <div  size-12 gray>Staus</div>
              <div size-14>Inprogress</div>
            </div>
            <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
                <button (click)="viewProfile()" btnstyle color="primary" mat-raised-button fxFlexAlign="end" margin-right-15>View Profile</button>
            </div>
          </div>
          <div fxLayout="row" fxFlexAlign="center" fxLayoutAlign=" stretch"  fxLayoutGap="20px" bottomBorder padding-top-bottom-15>
              <div fxLayout="column" fxFlex="50px" fxFlexAlign="center">
                <mat-icon>assignment_ind</mat-icon>
              </div>
              <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
                <div size-12 gray>Name</div>
                <div  size-14>Naresh M</div>
              </div>
              <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
                <div  size-12 gray>Experience</div>
                <div  size-14>4+</div>
              </div>
              <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
                <div  size-12 gray>Notice Period</div>
                <div  size-14>60 Days</div>
              </div>
              <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
                <div  size-12 gray>Skills</div>
                <div  size-14>HTML, CSS, Javascript</div>
              </div>
              <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
                <div  size-12 gray>Staus</div>
                <div size-14>Inprogress</div>
              </div>
              <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
                  <button (click)="viewProfile()" btnstyle color="primary" mat-raised-button fxFlexAlign="end" margin-right-15>View Profile</button>
              </div>
            </div>
  </div>


</div>