
<!--Active positions-->
<div fxLayout="row" margin-20  bottomGreenborder padding-top-bottom-15 >
    <div fxLayout.xs="column"  fxFlex="30%"  fxFlexAlign="center" >
     JD-{{singlePosDetails.designation}}: {{singlePosDetails.job_description}}
    </div>
    <div fxLayout.xs="column" fxFlex="20%" fxFlexAlign="center" *ngIf="singlePosDetails">Status : &nbsp; <mat-icon color="primary">thumb_up</mat-icon>  &nbsp; Active</div>
    <div fxLayout.xs="column" fxFlex="20%" fxFlexAlign="center" *ngIf="singlePosDetails.status == 2">Status : &nbsp; <mat-icon color="warning">thumb_down</mat-icon>  &nbsp; inactive</div>
    <div fxLayout.xs="column" fxFlex="30%"  fxFlexAlign="center" >Posted Date : &nbsp; <mat-icon color="primary" >watch_later</mat-icon>  &nbsp;  {{singlePosDetails.date_of_request}}</div>
    <div fxLayout="column" fxFlex="30%" fxFlexAlign="start">
        <div fxLayout="row" fxLayoutGap="20px" >
          <button (click)="addCandidate();" color="primary" fxLayoutAlign="left" btnstyle mat-raised-button fxFlex="50" ><mat-icon size-18 role="img" aria-hidden="true">add</mat-icon>Add Candidate </button>
          <button (click)="modifyJd();" color="primary" btnstyle mat-raised-button  fxLayoutAlign="left" fxFlex="50"><mat-icon size-18 role="img" aria-hidden="true">mode_edit</mat-icon> Modify JD </button>
      </div>
    </div>
</div>
<div fxLayout='row' fxLayout.xs="column" margin-20>
<div fxFlex="30%" fxFlex.xs="100%" size-12 borderRightGray>
  <div whiteBg  fxLayout='row' fxLayout.xs="row"  fxLayoutAlign="right" >
    <div fxLayout="column" fxFlex="30%" >
      <b>Manditory Skills :</b>
    </div>
    <div fxLayout="column" fxFlex="70%" fxFlexAlign="start">
          {{skills.skill_set}}     
    </div>
  </div>
  <div whiteBg fxLayout="row"   fxLayoutAlign="right"  >
        <div fxLayout="column" fxFlex="30%">
          <b >Job Description :</b>
        </div>
        <div fxLayout="column" fxFlexAlign="start" fxFlex="70%">
          {{singlePosDetails.job_description}}
        </div>
      </div>
      <div whiteBg fxLayout="row"   fxLayoutAlign="right"  >
          <div fxLayout="column" fxFlex="30%">
            <b >Experiance :</b>
          </div>
          <div fxLayout="column" fxFlexAlign="center">
            <div>{{singlePosDetails.experience}}</div>
          </div>
      </div>
      <div whiteBg fxLayout="row"  fxLayoutAlign="right" >
          <div fxLayout="column" fxFlex="30%">
            <b >Eductions :</b>
          </div>
          <div fxLayout="column" fxFlexAlign="center">
            <div>{{singlePosDetails.education_qualification}}</div>
          </div>
      </div>
      <div whiteBg fxLayout="row"   fxLayoutAlign="right"  >
          <div fxLayout="column" fxFlex="30%">
            <b >Work Location :</b>
          </div>
          <div fxLayout="column" fxFlexAlign="center">
            <div>{{singlePosDetails.work_location}}</div>
          </div>
      </div>
      <div whiteBg fxLayout="row"   fxLayoutAlign="right" >
          <div fxLayout="column" fxFlex="30%">
            <b >Type of hire :</b>
          </div>
          <div fxLayout="column" fxFlexAlign="center">
            <div>{{singlePosDetails.type_of_hire}}</div>
          </div>
      </div>
      <div whiteBg fxLayout="row"   fxLayoutAlign="right"  >
          <div fxLayout="column" fxFlex="30%">
            <b >Hiring Manager :</b>
          </div>
          <div fxLayout="column" fxFlexAlign="center">
            <div>{{singlePosDetails.hiring_manager}}</div>
          </div>
      </div>
      <div whiteBg fxLayout="row"   fxLayoutAlign="right"  >
          <div fxLayout="column" fxFlex="30%">
            <b >Project :</b>
          </div>
          <div fxLayout="column" fxFlexAlign="center">
            <div>{{singlePosDetails.project_name}}</div>
          </div>
      </div>
      <div whiteBg fxLayout="row"   fxLayoutAlign="right"  >
          <div fxLayout="column" fxFlex="30%">
            <b >Company :</b>
          </div>
          <div fxLayout="column" fxFlexAlign="center">
            <div>{{singlePosDetails.company}}</div>
          </div>
      </div>
  </div>


  <div fxFlex="70%" fxFlex.xs="100%" padding-Left-15>
      <div fxLayout="row" fxFlexAlign="center" size-22 fxLayoutAlign=" stretch">
          Profiles - [{{candidates.length}}]
      </div>
      <ng-container *ngFor="let candidate of candidates let i = index">
      <div fxLayout="row" fxFlexAlign="center" fxLayoutAlign=" stretch"  fxLayoutGap="20px" bottomBorder padding-top-bottom-15 >
          <div fxLayout="column" fxFlex="50px" fxFlexAlign="center">
            <mat-icon>assignment_ind</mat-icon>
          </div>
          <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
            <div size-12 gray>Name</div>
            <div  size-14>{{candidate.first_name}}</div>
          </div>
          <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
            <div  size-12 gray>Experience</div>
            <div  size-14>{{candidate.total_experiance}}</div>
          </div>
          <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
            <div  size-12 gray>Notice Period</div>
            <div  size-14>60 Days</div>
          </div>
          <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
            <div  size-12 gray>Contact Details</div>
            <div  size-14>{{candidate.phone_number}}<br/>{{candidate.email_id}}</div>
          </div>
          <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
            <div  size-12 gray>Staus</div>
            <div size-14>{{candidate.status}}</div>
          </div>
          <div fxLayout="column" fxFlex="50px">
              <button noMinWid mat-raised-button fxFlexAlign="end" title="View Profile" (click)="viewProfile(candidate.candidate_id, candidate.candidate_recruitment_id)"  margin-right-15><mat-icon>visibility</mat-icon></button>
          </div>
          <div fxLayout="column" fxFlex="50px">
              <button noMinWid mat-raised-button fxFlexAlign="end" title="Schedule Profile" (click)="addInterviewRounds()" margin-right-15><mat-icon>add_alarm</mat-icon></button>
          </div>
          <div fxLayout="column" fxFlex="50px">
              <button noMinWid mat-raised-button fxFlexAlign="end" title="Download" margin-right-15><mat-icon>file_download</mat-icon></button>
          </div>
        </div>
      </ng-container>
  </div>


</div>