
<div fxLayout="row" padding-top-bottom-10 topBorder fxLayoutWrap> 
<div fxFlexOffset="15px" fxLayout.xs="column"  fxFlex="150px">
  <button mat-button [matMenuTriggerFor]="menu"><span  size-15>View All</span> <mat-icon class="material-icons">arrow_drop_down</mat-icon></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <span>Check voicemail</span>
    </button>
    <button mat-menu-item>
      <span>Disable alerts</span>
    </button>
  </mat-menu>
</div>
<div fxLayout="column" fxFlex="250px" fxFlexAlign="end">
    <mat-form-field>
        <input matInput placeholder="Search">
    </mat-form-field>
</div>
<div fxLayout="column"  fxFlex="20%">
    <button color="primary" btnstyle mat-raised-button (click)="openDialog()"  fxFlexAlign="end" ><mat-icon size-18 role="img" aria-hidden="true">add</mat-icon>NEW JOB DESCRIPTION </button>
</div>
<div fxLayout="column"  fxFlex="20%">
    <button color="primary" btnstyle mat-raised-button (click)="openOffer()"  fxFlexAlign="end" ><mat-icon size-18 role="img" aria-hidden="true">add</mat-icon>Offer</button>
    
</div>

<div fxLayout="column" fxFlex="25%">		
   <button color="primary" btnstyle mat-raised-button (click)="openOffer()" fxFlexAlign="end"><mat-icon size-18 role="img" aria-hidden="true">add</mat-icon>Offer page</button>		
  </div>		
  <div fxLayout="column" fxFlex="25%">		
    <button color="primary" btnstyle mat-raised-button (click)="offerApproval()" fxFlexAlign="end"><mat-icon size-18 role="img" aria-hidden="true">add</mat-icon>Offer approval</button>		
  </div>		
  <div fxLayout="column" fxFlex="25%">		
   <button color="primary" btnstyle mat-raised-button (click)="offerView()" fxFlexAlign="end"><mat-icon size-18 role="img" aria-hidden="true">add</mat-icon>Offer View</button>		
 </div>
<div fxLayout="column"  fxFlex="20%">
    <button color="primary" btnstyle mat-raised-button (click)="openFeedback()"  fxFlexAlign="end" ><mat-icon size-18 role="img" aria-hidden="true">add</mat-icon>Feedback</button>
</div>
<div fxLayout="column"  fxFlex="20%">
    <button color="primary" btnstyle mat-raised-button (click)="openFeedbackApproval()"  fxFlexAlign="end" ><mat-icon size-18 role="img" aria-hidden="true">add</mat-icon>Feedback Approval</button>
</div>
</div>
<div fxLayout="column" padding-left-right-30 lightBackground>
  <!--Active positions-->
  <div fxLayout="row" margin-top-15  bottomGreenborder *ngIf="active.length >= 0">
    <div fxLayout.xs="column" size-22 italic padding-top-bottom-6>
      Active Positions
    </div>
  </div>
  <ng-container  *ngFor="let pos of active let i = index">    
  <ng-container *ngIf="pos.status == 1 && i <= 2;">
  <div whiteBg fxLayout="row" fxFlexAlign="center" fxLayoutAlign=" stretch"  fxLayoutGap="20px" bottomBorder padding-top-bottom-15 form-full-width>
    <div fxLayout="column" fxFlex="50px">
      <div size-14 fxFlexAlign="center" >{{i+1}}</div>
    </div>
    <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
      <div size-12 gray>Skills</div>
      <div  size-14>{{pos.skills}}</div>
    </div>
    <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
      <div  size-12 gray>Experience</div>
      <div  size-14>{{pos.experience}}</div>
    </div>
    <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
      <div  size-12 gray>Education</div>
      <div  size-14>{{pos.education_qualification}}</div>
    </div>
    <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
      <div  size-12 gray>Work Location</div>
      <div  size-14>{{pos.location}}</div>
    </div>
    <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
      <div  size-12 gray>No of Posstions</div>
      <div size-14>{{pos.no_of_positions}}</div>
    </div>
    <div fxLayout="column"  fxFlex="0 1 calc(15em + 20px)">
        <div fxFlexAlign="end">
        <button  btnstyle color="primary" mat-raised-button  margin-right-15 >View Resume</button>
        <mat-icon class="scheduleIco" fxFlexAlign="center"  size-30 role="img" aria-hidden="true" (click)="openAddSchedulDialog()" >schedule</mat-icon>
        </div>
    </div>
  </div>
</ng-container>
</ng-container>
<div fxLayout="row" margin-top-15 *ngIf="active.length > 2">
    <div fxLayout.xs="column" fxFlex="100%" fxLayoutAlign="end">
        <a btnstyle fxFlexAlign="end" [routerLink]="['/main/positions-listing', 1]" mat-raised-button color="accent"  margin-right-15>View All Positions</a>  
    </div>
</div>
  <!--Pending positions-->
  <div fxLayout="row" *ngIf="pending.length >= 0" bottomOrangeborder>
    <div fxLayout.xs="column" size-22 italic padding-top-bottom-6 >
      Pending Positions
    </div>
  </div>
<ng-container  *ngFor="let pos of pending let i = index">
<ng-container margin-top-30 bottomOrangeborder *ngIf="pos.status == 2 && i <= 2;">
  <div whiteBg fxLayout="row" fxFlexAlign="center" fxLayoutAlign=" stretch"  fxLayoutGap="15px" bottomBorder padding-top-bottom-10 form-full-width>
      <div fxLayout="column" fxFlex="50px">
          <div size-14 fxFlexAlign="center" >{{i+1}}</div>
        </div>
        <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
          <div size-12 gray>Skills</div>
          <div  size-14>{{pos.skills}}</div>
        </div>
        <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
          <div  size-12 gray>Experience</div>
          <div  size-14>{{pos.experience}}</div>
        </div>
        <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
          <div  size-12 gray>Education</div>
          <div  size-14>{{pos.education_qualification}}</div>
        </div>
        <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
          <div  size-12 gray>Work Location</div>
          <div  size-14>{{pos.location}}</div>
        </div>
        <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
          <div  size-12 gray>No of Posstions</div>
          <div size-14>{{pos.no_of_positions}}</div>
        </div>
    <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
        <button btnstyle color="primary" mat-raised-button  fxFlexAlign="end" margin-right-15 (click)="openApproval(pos.recruitment_id)">Get Approval</button>
    </div>
  </div>
  </ng-container>
  </ng-container>
  <div fxLayout="row" margin-top-15 *ngIf="pending.length > 2">
      <div fxLayout.xs="column" fxFlex="100%" fxLayoutAlign="end">
          <a btnstyle fxFlexAlign="end" [routerLink]="['/main/positions-listing', 2]" mat-raised-button color="accent"  margin-right-15>View All Positions</a>  
      </div>
  </div>
 <!--Closed positions-->
 <div fxLayout="row" margin-top-30 bottomBlackborder *ngIf="inActive.length >= 0">
   <div fxLayout.xs="column" size-22 italic padding-top-bottom-6 >
     Closed Positions
    </div>
  </div>
<ng-container  *ngFor="let pos of inActive let i = index">
<ng-container *ngIf="pos.status == 3 && i <= 2;">
  <div whiteBg fxLayout="row" fxFlexAlign="center" fxLayoutAlign=" stretch"  fxLayoutGap="15px" bottomBorder padding-top-bottom-10 form-full-width>
      <div fxLayout="column" fxFlex="50px">
          <div size-14 fxFlexAlign="center" >{{i+1}}</div>
        </div>
        <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
          <div size-12 gray>Skills</div>
          <div  size-14>{{pos.skills}}</div>
        </div>
        <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
          <div  size-12 gray>Experience</div>
          <div  size-14>{{pos.experience}}</div>
        </div>
        <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
          <div  size-12 gray>Education</div>
          <div  size-14>{{pos.education_qualification}}</div>
        </div>
        <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
          <div  size-12 gray>Work Location</div>
          <div  size-14>{{pos.location}}</div>
        </div>
        <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
          <div  size-12 gray>No of Posstions</div>
          <div size-14>{{pos.no_of_positions}}</div>
        </div>
    <div fxLayout="column" fxFlex="0 1 calc(15em + 20px)">
        <button btnstyle color="primary" mat-raised-button  fxFlexAlign="end" margin-right-15>Reason for rejection</button>
    </div>
  </div>
</ng-container>
</ng-container>
<div fxLayout="row" margin-top-15 *ngIf="inActive.length > 2">
    <div fxLayout.xs="column" fxFlex="100%" fxLayoutAlign="end">
        <a btnstyle fxFlexAlign="end" [routerLink]="['/main/positions-listing', 3]" mat-raised-button color="accent"  margin-right-15>View All Positions</a>  
    </div>
</div>
  <div margin-top-30></div>
</div>