<form>
  <div fxLayout="row">
    <h1>Interviewer Feedback Approval</h1>
  </div>
    <div margin-top-20 fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px" fxLayoutGap="20px">
      <div fxLayout="column" text-muted fxFlex="50%" fxFlexAlign="center">
        <strong color-black>Candidate Information</strong>
      </div>
      <div fxLayout="column" fxFlexAlign="center">
        :
      </div>
      <div fxLayout="column" fxFlex="49%" fxFlexAlign="center">
        C0937
      </div>
    </div>
    <div gap></div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px" fxLayoutGap="20px">
      <div fxLayout="column" text-muted fxFlex="50%" fxFlexAlign="center">
        Candidate Name
      </div>
      <div fxLayout="column" fxFlexAlign="center">
        :
      </div>
      <div fxLayout="column" fxFlex="49%" fxFlexAlign="center">
        Shirish
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px" fxLayoutGap="20px">
      <div fxLayout="column" text-muted fxFlex="50%" fxFlexAlign="center">
        Phone Number
      </div>
      <div fxLayout="column" fxFlexAlign="center">
        :
      </div>
      <div fxLayout="column" fxFlex="49%" fxFlexAlign="center">
        9090909090
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px" fxLayoutGap="20px">
      <div fxLayout="column" text-muted fxFlex="50%" fxFlexAlign="center">
        Email Id
      </div>
      <div fxLayout="column" fxFlexAlign="center">
        :
      </div>
      <div fxLayout="column" fxFlex="49%" fxFlexAlign="center">
        email@email.com
      </div>
    </div>
    <br/>

    <h1 margin-top-30 size-14>Technical Assessment</h1>
    <a href="" class="size-16" margin-top-10 link>Round 1</a>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
      <div fxLayout="column" text-muted fxFlex="50%" fxFlexAlign="center">
        Java
      </div>
      <div fxLayout="column" fxFlex="120px" fxFlexAlign="center">
        3
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
      <div fxLayout="column" text-muted fxFlex="50%" fxFlexAlign="center">
        Spring
      </div>
      <div fxLayout="column" fxFlex="120px" fxFlexAlign="center">
        3
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
      <div fxLayout="column" text-muted fxFlex="50%" fxFlexAlign="center">
        Hibernet
      </div>
      <div fxLayout="column" fxFlex="120px" fxFlexAlign="center">
        3
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
      <div fxLayout="column" text-muted fxFlex="50%" fxFlexAlign="center">
        Overall Rating
      </div>
      <div fxLayout="column" fxFlex="120px" fxFlexAlign="center">
        3
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
      <div fxLayout="column" text-muted fxFlex="50%" fxFlexAlign="start">
        Leave a comment
      </div>
      <div fxLayout="column" fxFlex="120px" fxFlexAlign="start">
        Shirish is selected for next round of interview
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
      <div fxLayout="column" text-muted fxFlex="50%" fxFlexAlign="center">
        Status
      </div>
      <div fxLayout="column" fxFlex="120px" fxFlexAlign="center">
        <mat-form-field>
          <mat-select placeholder="">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <h1 margin-top-20 size-14>Leave a comment</h1>
      <mat-form-field fxLayout="column">
        <textarea matInput ></textarea>
      </mat-form-field>

    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
      <button mat-raised-button btnstyle mat-dialog-close>Cancel</button>
      <button mat-raised-button color="primary" btnstyle>Submit</button>
  </div>
</form>