<form fxFlex="80%" (ngSubmit)="offerDetailsSubmit()" [formGroup]="offerForm" novalidate>
  <h2>Offer Details</h2>
  <br/>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px" fxLayoutGap="20px">
    <div fxLayout="column" text-muted fxFlex="50%" fxFlexAlign="center">
      <strong color-light-black>Candidate Information</strong>
    </div>
    <div fxLayout="column" fxFlexAlign="center">
      :
    </div>
    <div fxLayout="column" fxFlex="49%" fxFlexAlign="center">
      {{info.offerDetails.candidate_recruitment_id}}
    </div>
  </div>
  <div gap></div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px" fxLayoutGap="20px">
    <div fxLayout="column" text-muted fxFlex="50%" fxFlexAlign="center">
      Candidate Name
    </div>
    <div fxLayout="column" fxFlexAlign="center">
      :
    </div>
    <div fxLayout="column" fxFlex="49%" fxFlexAlign="center">
      {{info.offerDetails.first_name}} {{info.offerDetails.last_name}}
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px" fxLayoutGap="20px">
    <div fxLayout="column" text-muted fxFlex="50%" fxFlexAlign="center">
      Email
    </div>
    <div fxLayout="column" fxFlexAlign="center">
      :
    </div>
    <div fxLayout="column" fxFlex="49%" fxFlexAlign="center">
      {{info.offerDetails.email_id}}
    </div>
  </div>
  <br/>
  <h1 size-14 color-light-black>Offer Details</h1>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
    <div fxLayout="column" text-muted fxFlex="50%" fxFlexAlign="center">
      Company
    </div>
    <div fxLayout="column" fxFlexAlign="center">
      :
    </div>
    <div fxLayout="column" fxFlex="49%" fxFlexAlign="center">
      <mat-form-field>
        <mat-select placeholder="Select">
          <mat-option *ngFor="let com of info.companies" [value]="com.key">
            {{com.value}}
          </mat-option>
          
        </mat-select>
      </mat-form-field>

    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
    <div fxLayout="column" text-muted fxFlex="50%" fxFlexAlign="center">
      Location
    </div>
    <div fxLayout="column" fxFlexAlign="center">
      :
    </div>
    <div fxLayout="column" fxFlex="49%" fxFlexAlign="center">
      <mat-input-container>
        <input matInput formControlName="email">
      </mat-input-container>
      <!--<message [message]="offerForm.get('email')"></message>-->

    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
    <div fxLayout="column" text-muted fxFlex="50%" fxFlexAlign="center">
      Project Name
    </div>
    <div fxLayout="column" fxFlexAlign="center">
      :
    </div>
    <div fxLayout="column" fxFlex="49%" fxFlexAlign="center">
      <mat-input-container>
        <input matInput>

      </mat-input-container>
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
    <div fxLayout="column" text-muted fxFlex="50%" fxFlexAlign="center">
      Designation Offered
    </div>
    <div fxLayout="column" fxFlexAlign="center">
      :
    </div>
    <div fxLayout="column" fxFlex="49%" fxFlexAlign="center">
      <mat-form-field>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
    <div fxLayout="column" text-muted fxFlex="50%" fxFlexAlign="center">
      Reporting Manager
    </div>
    <div fxLayout="column" fxFlexAlign="center">
      :
    </div>
    <div fxLayout="column" fxFlex="49%" fxFlexAlign="center">
      <mat-form-field>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
    <div fxLayout="column" text-muted fxFlex="50%" fxFlexAlign="center">
      Candidate Work Location
    </div>
    <div fxLayout="column" fxFlexAlign="center">
      :
    </div>
    <div fxLayout="column" fxFlex="49%" fxFlexAlign="center">
      <mat-form-field>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
    <div fxLayout="column" text-muted fxFlex="50%" fxFlexAlign="center">
      Offer Accepted
    </div>
    <div fxLayout="column" fxFlexAlign="center">
      :
    </div>
    <div fxLayout="column" fxFlex="49%" fxFlexAlign="center">
      <mat-form-field>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
    <div fxLayout="column" text-muted fxFlex="50%" fxFlexAlign="center">
      Any other offers in hand
    </div>
    <div fxLayout="column" fxFlexAlign="center">
      :
    </div>
    <div fxLayout="column" fxFlex="49%" fxFlexAlign="center">

      <mat-checkbox></mat-checkbox>

    </div>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
    <div fxLayout="column" text-muted fxFlex="50%" fxFlexAlign="center">
      Type of Employment
    </div>
    <div fxLayout="column" fxFlexAlign="center">
      :
    </div>
    <div fxLayout="column" fxFlex="49%" fxFlexAlign="center">
      <mat-form-field>
        <mat-select>
          <mat-option [value]="'1'">
            CTE
          </mat-option>
          <mat-option [value]="'2'">
            CTI
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
    <div fxLayout="column" text-muted fxFlex="50%" fxFlexAlign="center">
      Expected date of joining
    </div>
    <div fxLayout="column" fxFlexAlign="center">
      :
    </div>
    <div fxLayout="column" fxFlex="49%" fxFlexAlign="center">
      <mat-form-field>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
  <br/>
  <div fxLayout="column">
    <div fxLayout="row" text-muted fxFlex="100%" fxFlexAlign="start">
      Duration if Contact/Trainee
    </div>

    <div fxLayout="row" fxFlex="100%" fxFlexAlign="start">
      <mat-form-field>
        <input matInput placeholder="From">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="To">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="No. of Days">
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="column">
    <div fxLayout="row" text-muted fxFlex="100%" fxFlexAlign="start">
      Salary offered
    </div>

    <div fxLayout="row" fxFlex="100%" fxFlexAlign="start" fxLayoutWrap>
      <mat-form-field fxFlex="15%">
        <input matInput placeholder="Fixed">
      </mat-form-field>
      <mat-form-field fxFlex="15%">
        <input matInput placeholder="Variable">
      </mat-form-field>
      <mat-form-field fxFlex="15%">
        <input matInput placeholder="Bonus">
      </mat-form-field>
      <mat-form-field fxFlex="15%">
        <input matInput placeholder="Options">
      </mat-form-field>
      <mat-form-field fxFlex="15%">
        <input matInput placeholder="Any Other">
      </mat-form-field>
      <mat-form-field fxFlex="15%">
        <input matInput placeholder="Total">
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="column">
    <div fxLayout="row" text-muted fxFlex="100%" fxFlexAlign="start">
      Reasons if salary offered > 30% of last CTE
    </div>

    <div fxLayout="row" fxFlex="100%" fxFlexAlign="start">
      <mat-form-field>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="column">
    <div fxLayout="row" text-muted fxFlex="100%" fxFlexAlign="start">
      Duration of Company Accomodation if Any
    </div>

    <div fxLayout="row" fxFlex="100%" fxFlexAlign="start">
      <mat-form-field>
        <input matInput placeholder="From">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="To">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="No. of Days">
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
    <button mat-raised-button btnstyle mat-dialog-close>Cancel</button>
    <button type="submit" mat-raised-button color="primary" btnstyle>Submit</button>
  </div>
</form>