<mat-card-content>
    <div fxLayout="row" bottomGreenborder padding-top-bottom-15>
        <div fxLayout.xs="column" fxFlex="50%" fxFlexAlign="center" size-24 > Candidate Information </div>
        <div fxLayout.xs="column" fxFlex="50%" fxLayoutAlign="end" >JD-C123: UI Developer</div>
    </div>
    <form  name="can" (ngSubmit)="addCandidate()" [formGroup]="candidateObj">
        <div fxLayout="row" fxLayoutGap="20px">
            <div fxLayout.xs="column" fxFlex="50%" fxFlexAlign="center" >
                <mat-form-field form-full-width>
                    <input matInput placeholder="First Name" formControlName="fname">
                </mat-form-field>
            </div>
            <div fxLayout.xs="column" fxFlex="50%" fxFlexAlign="center" >
                <mat-form-field form-full-width>
                    <input matInput placeholder="Last Name" formControlName="lname">
                </mat-form-field>
            </div>
        </div>
        <div size="20"><b>Profile Information</b></div>
        <div fxLayout="row" fxLayoutGap="20px">
            <div fxLayout.xs="column" fxFlex="50%" fxFlexAlign="center" >
                <mat-form-field form-full-width>
                    <input matInput placeholder="Add Skill" [(ngModel)]="skillName" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </div>
            <div fxLayout.xs="column" fxFlex="50%" fxFlexAlign="center" >
                <button mat-button color="primary" mat-raised-button (click)="addSkill()">Add Skill</button>
            </div>
        </div>
        <div size="20" margin-top-bottom-10><b>Manditory Skills</b></div>
        <mat-chip-list>
            <div *ngFor="let skill of skillsSets; let i = index">
                <mat-chip color="accent" selected="true"> {{skill}} <mat-icon (click)="removeSkill(skill)">highlight_off</mat-icon></mat-chip>
             </div>
        </mat-chip-list>
        <div size="20" margin-top-bottom-10><b>Experiance Information</b></div>
        <div fxLayout="row" fxLayoutGap="20px">
            <div fxLayout.xs="column" fxFlex="50%" fxFlexAlign="center" >
                <mat-form-field form-full-width>
                    <input matInput placeholder="Experiance" [(ngModel)]="exp"  formControlName="exp">
                </mat-form-field>
            </div>
            <div fxLayout.xs="column" fxFlex="50%" fxFlexAlign="center" >
                <mat-form-field form-full-width>
                    <input matInput placeholder="Relevant Exp" [(ngModel)]="rExp" formControlName="rExp">
                </mat-form-field>
            </div>
        </div>
        <div size="20" margin-top-bottom-10><b>Salary Details</b></div>
        <div fxLayout="row" fxLayoutGap="20px">
            <div fxLayout.xs="column" fxFlexAlign="center" >
                <mat-form-field form-full-width>
                    <input matInput placeholder="Fixed" [(ngModel)]="fx"  formControlName="fixedSalary">
                </mat-form-field>
            </div>
            <div fxLayout.xs="column" fxFlexAlign="center" >
                <mat-form-field form-full-width>
                    <input matInput placeholder="Variable" [(ngModel)]="vb"  formControlName="vPay">
                </mat-form-field>
            </div>
            <div fxLayout.xs="column" fxFlexAlign="center" >
                <mat-form-field form-full-width>
                    <input matInput placeholder="Bonus" [(ngModel)]="bonus"  formControlName="bonusPay">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
            <div fxLayout.xs="column" fxFlexAlign="center" >
                <mat-form-field form-full-width>
                    <input matInput placeholder="Options" [(ngModel)]="opt"  formControlName="optAny">
                </mat-form-field>
            </div>
            <div fxLayout.xs="column" fxFlexAlign="center" >
                <mat-form-field form-full-width>
                    <input matInput placeholder="Any Other" [(ngModel)]="anyOther"  formControlName="anyOther">
                </mat-form-field>
            </div>
            <div fxLayout.xs="column" fxFlexAlign="center" >
                <mat-form-field form-full-width>
                    <input matInput placeholder="Expected Salary" [(ngModel)]="expt"  formControlName="expCtc">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
            <div fxLayout.xs="column" fxFlexAlign="center" fxFlex="50%">
                <mat-form-field form-full-width>
                    <input matInput placeholder="Notice Period" [(ngModel)]="noticep"  formControlName="nPeriod">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" size-12>
            <div fxLayout.xs="column" fxFlexAlign="center" fxFlex="50%" >          
                Expcted Salay is Negotiable check if &nbsp;  <mat-checkbox name="negotiable" formControlName="exCtcNegotiable">Yes</mat-checkbox>
            </div>
            <div fxLayout.xs="column" fxFlexAlign="center" fxFlex="50%" >
                Expcted Salay is Negotiable check if &nbsp; <mat-checkbox name="negotiable-notice" formControlName="nPeriodNegotiable">Yes</mat-checkbox>                
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
            <div fxLayout.xs="column" fxFlexAlign="center" fxFlex="50%" > 
                <mat-form-field form-full-width>
                    <textarea matInput placeholder="Reason for job change" formControlName="reasonFroChange"></textarea>
                </mat-form-field>
            </div>
            <div fxLayout.xs="column" fxFlexAlign="center" fxFlex="50%" > 
                <mat-form-field form-full-width>
                    <textarea matInput placeholder="Leave a comment" formControlName="extraComments"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div size="20" margin-top-bottom-10><b>Personality Assessments</b></div>
        <div fxLayout="row" fxLayoutGap="10px" *ngFor="let assessment of p_assessments; let i = index">
            <div fxLayout.xs="column" fxFlexAlign="center" fxFlex="50%" padding-top-bottom-2>
                {{assessment.name}}
            </div>
            <div fxLayout.xs="column" fxFlexAlign="center" fxFlex="50%" padding-top-bottom-2> 
                <mat-form-field>
                    <mat-select placeholder="Give Rating" [(value)]="assessment.selected" formControlName="assessment-{{i}}">                        
                        <mat-option *ngFor="let value of assessment.value" [value]="value">
                        {{ value }} 
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
            <div fxLayout.xs="column" fxFlexAlign="center" fxFlex="100%" > 
                <mat-form-field form-full-width>
                    <textarea matInput placeholder="Leave a comment" formControlName="leaveFeedback"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
                <input placeholder="Upload Resume" type="file" formControlName="resume">
        </div>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
            <button mat-button color="warn" mat-raised-button [mat-dialog-close]="true" >Cancel</button>
            <button mat-button color="primary" mat-raised-button >Save</button>
        </div>
    </form>
</mat-card-content>
