/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-light-green, 700);
$accent:  mat-palette($mat-light-blue, 600);
$warn:    mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);
$white : white;
$gray : #e2e2e2;
*{
    padding: 0;
    margin: 0;
}
body{
    background-color:#efefef !important;
    font-family:'Open Sans', sans-serif !important;
    font-size: 14px;
}
[form-full-width], [form-full-width] mat-input-container {
    width: 100%;
}
[text-center]{
    text-align: center;
}
[bold]{
    font-weight:700;
}
[semiBold]{
    font-weight:500;
}
body{
    margin: 0;
    padding: 0;
    background: #fff !important;
}
[btnstyle]{
    line-height: 28px;
    text-transform: uppercase;
    box-shadow: none;
    border-radius: 0;
    padding-top:2px;
    font-size: 12px;
}
@for $i from 0 through 50 {
    [size-#{$i}],
   [size-#{$i}] * {
        font-size: $i+px;
    }
    [size-#{$i}-imp] {
        font-size: $i+px !important;
    }
    [height-#{$i}],
    {
        height: $i+px;
    }
    [line-height-#{$i}] {
        line-height: $i+px;
    }
    [z-index-#{$i}] {
        z-index: $i;
    }
    [top-minus-#{$i}] {
        top: -$i+px;
    }
    [top-#{$i}] {
        top: $i+px;
    }
    [right-#{$i}] {
        right: $i+px;
    }
    [left-#{$i}] {
        left: $i+px;
    }
    [bottom-#{$i}] {
        bottom: $i+px;
    }
     [margin-top-#{$i}] {
        margin-top: $i+px;
    }
     [margin-bottom-#{$i}] {
        margin-bottom: $i+px;
    }
     [margin-left-#{$i}] {
        margin-left: $i+px;
    }
     [margin-right-#{$i}] {
        margin-right: $i+px;
    }
     [margin-left-right-#{$i}] {
        margin-left: $i+px;
        margin-right: $i+px;
    }
     [margin-top-bottom-#{$i}] {
        margin-bottom: $i+px;
        margin-top: $i+px;
    }
     [padding-left-right-#{$i}] {
        padding-left: $i+px;
        padding-right: $i+px;
    }
     [padding-left-#{$i}] {
        padding-left: $i+px;
    }
     [padding-left-#{$i}-imp] {
        padding-left: $i+px !important;
    }
     [padding-right-#{$i}-imp] {
        padding-right: $i+px !important;
    }
     [padding-top-bottom-#{$i}] {
        padding-bottom: $i+px;
        padding-top: $i+px;
    }
     [margin-#{$i}] {
        margin: $i+px;
    }
     [padding-#{$i}] {
        padding: $i+px;
    }
     [padding-#{$i}-imp] {
        padding: $i+px !important;
    }
}

[weight-normal]{
    font-weight: normal;
}
[weight-300]{
    font-weight: 300;
}

[weight-400]{
    font-weight: 400;
}

[weight-600]{
    font-weight: 600;
}
[text-muted]{
    color: #888;
}

    [whiteBg]{
        background:white;
    }
    [lightBackground]{
        background-color:#f1f1f2;
    }
    [bottomGreenborder] {
       border-bottom: 3px solid green,
   }
    [bottomOrangeborder] {
       border-bottom: 3px solid #FF4500,
   }
    [bottomBlackborder] {
       border-bottom: 3px solid #333,
   }
   [topBorder] {
       border-top: 2px solid #ddd,
   }
    [bottomBorder] {
       border-bottom: 1px solid #ddd,
   }
   [gray]{
       color:#ccc;
   }
   [borderRightGray]{
       border-right: solid #ccc 1px;
   }
   [gap]{
       display: block;
       height: 5px;
   }
   [color-black]{
       color:rgba(0, 0, 0, 0.87);
   }